footer
{
    border-top: 1px solid #57b1dc;
}

  header
  {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sverreSover
  {
    display: block;
    margin: 0 auto;
  }

  .pictureText
  {
    text-align: center;
  }

  .gammelMann
  {
    display: block;
    margin: 0 auto;
  }

  .hurlenMensa
  {
    display: block;
    margin: 0 auto;
  }

  .datamus
  {
    display: block;
    margin: 0 auto;
  }

  .eltonLappen
  {
    display: block;
    margin: 0 auto;
  }

  .grid-container1
  {
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
  }

  .grid-container2
  {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
  }

  ul 
  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li
  {
    float: left;
  }
  
  li a
  {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active)
  {
    background-color: #111;
  }
  
  .active
  {
    background-color: #4CAF50;
  }

  section
  {
    padding-top: 20px;
  }