footer
{
    border-top: 1px solid #57b1dc;
}

  header
  {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sverreSover
  {
    display: block;
    margin: 0 auto;
  }

  .pictureText
  {
    text-align: center;
  }

  .gammelMann
  {
    display: block;
    margin: 0 auto;
  }

  .hurlenMensa
  {
    display: block;
    margin: 0 auto;
  }

  .pictureText
  {
    display: block;
    margin: 0 auto;
  }

  .eltonLappen
  {
    display: block;
    margin: 0 auto;
  }

  .grid-container1
  {
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
  }

  .grid-container2
  {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
  }